<h1>{{title}}</h1>
{{#if error}}
    <h3>ERROR: {{error}}</h3>
{{/if}}
<form method="POST" action="/books" enctype="multipart/form-data">
    <div>
        <label for="title">Titel:</label>
        <input type="text" id="title" name="title" value="{{bookData.title}}" required>
    </div>
    <div>
        <label for="author">Forfatter:</label>
        <input type="text" id="author" name="author" value="{{bookData.author}}" required>
    </div>
    <div>
        <label for="year">Udgivelsesår:</label>
        <input type="number" id="year" name="year" value="{{bookData.year}}" required>
    </div>
    <div>
        <label for="image">Upload image</label>
        <input type="file" id="image" name="image" accept="image/*">
    </div>
    <button type="submit">Gem Bog</button>
</form>