<h1>{{title}}</h1>
<form method="GET" action="/books">
    <input type="text" name="q" placeholder="Søg efter titel eller forfatter">
    <button type="submit">Søg</button>
</form>
{{#if books}}
{{#each books}}
    <div class="book-card">
        <h2><a href="/books/{{this.id}}">{{this.title}}</a></h2>
        <p>Forfatter: {{this.author}}</p>
        <p>Udgivelsesår: {{this.year}}</p>
        <p>ImageName: {{this.image.filename}}</p>
        {{#if this.image}}
            <img src="/bookImages/{{this.image.filename}}" height="100" />
        {{/if}}
    </div>
    <div>_______________________________________________________________</div>
{{/each}}
{{/if}}
{{#each tempImages}}
    <img src="/bookImages/{{this}}" height="100" />
{{/each}}
<form method="POST" action="/books/tempimages" enctype="multipart/form-data">
    <div>
        <label for="image">Upload image</label>
        <input type="file" id="image" name="image" accept="image/*" multiple>
    </div>
    <button type="submit">Gem</button>
</form>