<h1>{{title}}</h1>
<form method="GET" action="/books">
    <input type="text" name="q" placeholder="Søg efter titel eller forfatter">
    <button type="submit">Søg</button>
</form>

{{#each books}}
    <div class="book-card">
        <h2><a href="/books/{{this.id}}">{{this.title}}</a></h2>
        <p>Forfatter: {{this.author}}</p>
        <p>Udgivelsesår: {{this.year}}</p>
        {{#if this.image}}
            <p>ImageName: {{this.image.filename}}</p>
        {{/if}}
    </div>
    <div>_______________________________________________________________</div>
{{/each}}